<html lang="en">
    
    <%- include('./Partials/head.ejs') %>

    <body>
        <%- include('./Partials/nav.ejs') %>

        <div class="not-found content">
            OOPS, page not found:)
        </div>

        <%- include('./Partials/footer.ejs') %>

    </body>
</html>