<html lang="en">
    <%- include('./Partials/head.ejs') %>

    <body>
        <nav>
            <div class="site-title">
                <a href="/"><h1>Blog Ninja</h1></a>
                <p>A net ninja Site</p>
            </div>
            <ul>
                <li><a href="/">Blog</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blogs/create">New Blog</a></li>
            </ul>
        </nav>

        <div class="about content">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam dicta, minus voluptates repellat dolor omnis expedita consequuntur sint reiciendis in, cum, eveniet aut tempore at inventore totam obcaecati necessitatibus accusamus.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe quod ipsum, cum molestiae et dolor, distinctio impedit dolores obcaecati molestias blanditiis harum atque necessitatibus, tempore nemo architecto placeat tempora commodi!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, iusto, animi sunt tenetur id nesciunt, error perspiciatis quidem delectus autem velit itaque corporis quo. Temporibus nulla cum vitae cupiditate quaerat.</p>
        </div>

    </body>
</html>